<div class="shadow">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <p><%= message %></p>
        </div>
    <% end %>
  <div class="container choose_your_excuse">
    <h1 class= "title_text">Fabricate Your Alibi</h1>
    <div class = "col-md-4">
    </div>
    <div class = "col-md-4 choose_your_excuse_buttons">
    <%= form_tag '/excuses', method: "post" do |f| %>
      <div class = "row">
        <h3>When will you show up?</h3>
          <ul>
            <%= radio_button_tag :is_late, 'just_late'%> 
            <%= label :is_late, 'Late' %>
            <%= radio_button_tag :is_late, 'never_going' %>
            <%= label :is_late, 'Never' %>
          </ul>
      </div>
      <div class = "row">
          <h3>What's at risk here???</h3>
            <ul>
              <%= radio_button_tag :is_realistic, 'realistic'%> 
              <%= label :is_realistic, "I know this person -- be careful!" %>
              <br>
              <%= radio_button_tag :is_realistic, 'unrealistic' %>
              <%= label :is_realistic, "I don't want to see this person again -- go wild!" %>
              
            </ul>
      </div>
          <%= submit_tag "Generate" %>
    </div>
    <% end %>
    <div class = "col-md-4">
    </div>
  </div>
</div>