    <%= render 'excuses/navigation' %>

    <div class = "row">   
            <div class="col-md-4">
                <h1>Non-Realistic Excuse:</h1>
            </div>
            <div class="col-md-4">            
                <h2>What to say:</h2>
            </div>
            <div class="col-md-4">
                <h2>Rating:</h2>
            </div>
        </div>
    
        
    <% @excuses.each do |excuse| %>
        <div class = "row">
            <div class="col-md-4">
                <p>
                    <%= link_to excuse.name, excuse_path(excuse) %>
                </p>
             </div>
                
            <div class="col-md-4">
                <p>
                    <%=excuse.template %>
                </p>
            </div>
            <div class="col-md-4">
                    <% @excuse_name = excuse.name.to_s %>
                    <%= content_tag(:div, "", id: excuse.name, class: "rating" ) %>  
                    
                    <% if !Rating.find_by(user_id: @current_user.id, excuse_id: excuse.id).nil? %>
                        <% @rating = Rating.find_by(user_id: @current_user.id, excuse_id: excuse.id).score %>
                    <% else %>
                        <% @rating = Rating.create(user_id: @current_user.id, excuse_id: excuse.id, score: 0).score %>
                    <% end %>
            </div>             

        </div>

    <!-- Insert button to play and an option to loop -->

     <script>
      var excuse_id = '<%= j '#'+ @excuse_name %>'
      $(excuse_id).raty({
        score:  <% if !@rating.nil? %>
                    <%= @rating %>
                <% else %>     
                    <%= 0 %>       
                <% end %>,
        path: '/assets',
        click: function(score, evt) {
          $.ajax({
            url: '/ratings/' + <% if !Rating.find_by(user_id: @current_user.id, excuse_id: excuse.id).nil? %>
                                    <%= Rating.find_by(user_id: @current_user.id, excuse_id: excuse.id).id %>
                               <% else %>     
                                     <%= 0 %>
                               <% end %>,
            type: 'PATCH',
            data: { score: score }
          });
        }
      });
    </script>

    <% end %>
</div>    