 <div class="excuses_main shadow">
    <div class="container">
            <h1>Excuses</h1>

        <p>See all the realitistic and non-realistic excuses you can use</p>
        <div class="border"></div>
        <div class="button_position">
            <ul class="nav nav-pills">
                <li class="nav-consumer"><%= link_to "All", '/excuses' %></li>
                <li class="nav-consumer"><%= link_to "Realistic", '/excuses/realistic' %></li>
                <li class="nav-all active"><%= link_to "Non-Realistic", '/excuses/non_realistic' %></li>
            </ul>
</div>

    <div class = "row">   
            <div class="col-md-4">
                <h1>Non-Realistic Excuse:</h1>
            </div>
           <%= render 'excuses/excuse_title' %>
    </div>
    
        
    <% @excuses.each do |excuse| %>
        <div class = "row">
            <div class="col-md-4">
                <p>
                    <%= link_to excuse.name, excuse_path(excuse) %>
                </p>
             </div>
                
            <div class="col-md-4">
                <p>
                    <%=excuse.template %>
                </p>
            </div>
            <div class="col-md-4">
                    <% @excuse_name = excuse.name.to_s %>
                    <%= content_tag(:div, "", id: excuse.name, class: "rating" ) %>  
                    
                    <% if !Rating.find_by(user_id: @current_user.id, excuse_id: excuse.id).nil? %>
                        <% @rating = Rating.find_by(user_id: @current_user.id, excuse_id: excuse.id).score %>
                    <% else %>
                        <% @rating = Rating.create(user_id: @current_user.id, excuse_id: excuse.id, score: 0).score %>
                    <% end %>
            </div>             

        </div>

    <!-- Insert button to play and an option to loop -->

     <script>
      var excuse_id = '<%= j '#'+ @excuse_name %>'
      $(excuse_id).raty({
        score:  <% if !@rating.nil? %>
                    <%= @rating %>
                <% else %>     
                    <%= 0 %>       
                <% end %>,
        path: '/assets',
        click: function(score, evt) {
          $.ajax({
            url: '/ratings/' + <% if !Rating.find_by(user_id: @current_user.id, excuse_id: excuse.id).nil? %>
                                    <%= Rating.find_by(user_id: @current_user.id, excuse_id: excuse.id).id %>
                               <% else %>     
                                     <%= 0 %>
                               <% end %>,
            type: 'PATCH',
            data: { score: score }
          });
        }
      });
    </script>

    <% end %>
</div>    