<div class="shadow">	
  <div class = "row">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <p><%= message %></p>
        </div>
    <% end %>
  </div>
	<h1 class = "title_text">Signup</h1>
  <p class="signup">Create an account to keep track of your excuses. The ones already used. Or the ones you rated highly.</p>

    <div class="container">
      <%= bootstrap_form_for(@user) do |f| %>
        <%= f.text_field :name, label: "Name" %>
        <%= f.email_field :email, class: 'form_control' %>
        <%= f.password_field :password, class: 'form_control'%>
        <%= f.password_field :password_confirmation, class: 'form_control' %>
        <%= f.submit "Create account", class: "btn" %>
      <% end %>
    </div>
</div>
   

