
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <p><%= message %></p>
        </div>
    <% end %>

<div class="center jumbotron" id="homeshadow">
  <div class="container">
	  <h1 id="homeoverride">No Excuse? No Problem!</h1>

	  <p id="homeoverride">Running Late? Don't feel like going to work? Use No Excuse No Problem to generate an excuse.</p> 
	  <p id="homeoverride">Join now to devise and track your alibi, or just create one.</p>
	  <div class="btn">
			<%= link_to "Create an Account", signup_path %>
	  </div>
	  	  <div class="btn">
			<%= link_to "Create an Excuse", new_excuse_path %>
	  	</div>
  </div>
</div>
<!-- <div class="secondary">
	<div class="container">
		<div class="row">
			<div class="col-md-6"> -->
			<!-- 	Add Image Here -->
<!-- 				// <%= image_tag("no_excuses_cat.jpg", class: "cat_image center-block") %> //
 -->			<!-- </div>
			<div class="col-md-6">
				<h2>Mei congue altera repudiandae.</h2>
				<p>Lorem ipsum dolor sit amet, aliquip voluptatum ut est, erant iusto adolescens duo at, natum ubique suscipiantur in sed. Iisque facilisis eu est. Eum ad suscipit posidonium cotidieque. Ne atqui impedit reprimique eum, sit id solet aliquip.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2>Eum eros hendrerit.</h2>
				<p>Lorem ipsum dolor sit amet, iuvaret platonem duo eu, mel accusamus incorrupte at, cu debitis eleifend vix. Quo everti causae expetendis at, nec commune explicari et, eum consul adversarium cu. Has possim intellegebat eu, est ad delectus partiendo tincidunt, ius.</p>
			</div>
			<div class="col-md-6"> -->
			<!-- 	Add Image Here -->
<!-- 			 // <%= image_tag("no_excuses_cat.jpg", class: "cat_image cat_image center-block") %> //
 -->			<!-- </div>
		</div>
	</div> -->
<!-- </div>
<div class="call2action center">
	<div class="container">
		<h1 id="homeoverride">Devise Your Alibi Now!</h1>
		<div class="btn">
			<%= link_to "Join Now", signup_path %>
		</div>
	</div> -->
<!-- </div>
 -->